*.rpy[bc]
*.rpymc
*.bak
**/tmp/*
**/game/saves/*
**/log.txt
**/errors.txt
**/traceback.txt
*-dists/*
*.py[co]

*~
*.bak

*.cab
*.msi
*.msm
*.msp
*.lnk

.DS_Store
.AppleDouble
.LSOverride
._*
desktop.ini

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/game/firstrun